.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body { 
  background: url(extra.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
    background-image: url("box.png");
    background-repeat: no-repeat;
    /*height: 200px;
    width: 300px;*/
    background-position: center top;
    background-size: 190px 200px;
    padding: 100px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

h4 {
  text-align: center;

}

#size {

  width: 150px; 
  height: 150px;
}

.bell {

  height: 450px;
}
.cell {
   height: 540px;

}

h1{


  text-align: center;
}
#HomePage{
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
        background-color: #dcccff;
    border-radius: 10px;
     border-style: solid;
    border-width: 1px;
            border-color: #DDD;

     padding-bottom: 100px;

}

#AboutPage{
    text-align: center;
    margin-left: 60px;
        background-color: #dcccff;
    border-radius: 10px;
     border-style: solid;
    border-width: 1px;
            border-color: #DDD;

     padding-bottom: 15%;

}

#ContactPage{
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
        background-color: #dcccff;
    border-radius: 10px;
     border-style: solid;
    border-width: 1px;
            border-color: #DDD;

     padding-bottom: 15%;
      padding: 50px;

}


#review{
    
    margin-right: 60px;
        background-color: #dcccff;
    border-radius: 10px;
     border-style: solid;
    border-width: 1px;
            border-color: #DDD;
     padding-bottom: 8%;

}

#product{
    
    margin-right: 60px;
        background-color: #dcccff;
    border-radius: 10px;
     border-style: solid;
    border-width: 1px;
            border-color: #DDD;
     padding-bottom: 8%;

}


#photo{
        background-color: #eee6ff;
    border-radius: 10px;
     border-style: solid;
    border-width: 1px;
            border-color: #DDD;

}


#list{
        background-color: #eee6ff;
}




#HomePage input[type=text] {
    width: 97.5%;
    margin-left: 13px;
    padding: 5px 10px;
    box-sizing: border-box;
    font-size: 20pt;
}

.dropzone{
  text-align: center;
    width : 200px;
  height : 100px;
  border : 2px solid #BBB;
  background-color: #FFFFFF;
  color: #999;

}

ul{
text-align: left;


}



